ElliottWave_Indi_EWO_Applied_Price1={{ ewo_ap1 | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
ElliottWave_Indi_EWO_Applied_Price2={{ ewo_ap2 | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
ElliottWave_Indi_EWO_MA_Method1={{ ewo_mm1 | default(0) }}
ElliottWave_Indi_EWO_MA_Method2={{ ewo_mm2 | default(0) }}
ElliottWave_Indi_EWO_Period1={{ (ewo_period1 | default(0) | int) }}
ElliottWave_Indi_EWO_Period2={{ (ewo_period2 | default(0) | int) }}
ElliottWave_Indi_EWO_Shift={{ shift | default(0) }}
ElliottWave_Indi_ElliottWave_MA_Method={{ ma_method | default(0) }}
ElliottWave_Indi_ElliottWave_Shift={{ (shift | default(0) | int) }}
ElliottWave_LotSize={{ lot_size | default(0) }}
ElliottWave_PriceStopLevel={{ (price_stop_level | default(0) | replace("(float)", "") | float) }}
ElliottWave_PriceStopMethod={{ price_stop_method | default(0) }}
ElliottWave_SignalCloseLevel={{ (signal_close_level | default(0) | replace("(float)", "") | float) }}
ElliottWave_SignalCloseMethod,1=-4
ElliottWave_SignalCloseMethod,2=1
ElliottWave_SignalCloseMethod,3=4
ElliottWave_SignalCloseMethod,F=1
ElliottWave_SignalCloseMethod={{ signal_close_method | default(0) }}
ElliottWave_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
ElliottWave_SignalOpenFilterMethod={{  signal_open_filter_method | default(1) }}
ElliottWave_SignalOpenLevel={{ signal_open_level | default(0) | float }}
ElliottWave_SignalOpenMethod={{ signal_open_method | default(0) }}
ElliottWave_TickFilterMethod={{ tick_filter_method | default(1) }}
