ElliottWave_Indi_ElliottWave_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
ElliottWave_Indi_ElliottWave_MA_Method={{ ma_method | default(0) }}
ElliottWave_Indi_ElliottWave_Period={{ (period | default(0) | int) }}
ElliottWave_Indi_ElliottWave_Shift={{ shift | default(0) }}
ElliottWave_LotSize={{ lot_size | default(0) }}
ElliottWave_PriceStopLevel,1=10
ElliottWave_PriceStopLevel,2=5
ElliottWave_PriceStopLevel,3=40
ElliottWave_PriceStopLevel,F=1
ElliottWave_PriceStopLevel={{ (price_stop_level | default(0) | replace("(float)", "") | float) }}
ElliottWave_PriceStopMethod={{ price_stop_method | default(0) }}
ElliottWave_SignalCloseLevel={{ (signal_close_level | default(0) | replace("(float)", "") | float) }}
ElliottWave_SignalCloseMethod={{ signal_close_method | default(0) }}
ElliottWave_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
ElliottWave_SignalOpenFilterMethod={{  signal_open_filter_method | default(1) }}
ElliottWave_SignalOpenLevel={{ (signal_open_level | default(0) | replace("(float)", "") | float) }}
ElliottWave_SignalOpenMethod={{ signal_open_method | default(0) }}
ElliottWave_TickFilterMethod={{ tick_filter_method | default(1) }}
